

a {
  color: #00B7FF;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 8pt;
    line-height: 12pt;
    background: #ffffff;
    color: #555555;
}

.axis path, .axis line {
    fill: none;
    stroke: #555555;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: orange;
    stroke-width: 1px;
}
